* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.top-nav {
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(186, 174, 212);
    border-bottom: 1px solid darkgray;
}
.top-nav .container {
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    padding-block: .6rem;
}
.top-nav .social-icons {
    display: flex;
    gap: .5rem;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
}
.navbar img {
    height: 100px;

    margin-top: 4rem;
    margin-bottom: 2rem;
}
.nav-links {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    padding-bottom: .5rem;
    list-style: none;
    color: gray;
    cursor: pointer;
}
.nav-links a {
    color: gray;
    text-decoration: none;
}

.shopping-cart img {
    border: 1px solid darkgray;
    border-radius: 50%;
    height: 100px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background-color: white;
    margin: 0;

    position: absolute;
    bottom: -2rem;
}



/* MAIN VIEW */
.main-view .showcase-img img {
    width: 100%;
}


.menu-clothes {
    position: absolute;
    top: 226px;
    right: 0;
    width: 100%;
    height: 50vh;
    background-color: white;
    border-top: 1px solid darkgray;

    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 5rem; */
}
.menu-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    height: 35vh;
    column-gap: 5rem;
}
.menu-clothes .text h2 {
    padding-bottom: 1rem;
}
.menu-clothes img {
    height: 270px;
}